.postArea {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    width: 90%;
    min-height: 80vh;
    margin: 0 auto;
}

.postArea>article {
    flex-grow: 1;
    margin-right: 100px;
}

.postArea>aside {
    flex-basis: 300px;
    border: 1px dotted red;
    flex-shrink: 0;
}

input.btnNew {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: violet;
    font-size: 1.5rem;
}

section .post {
    margin-top: 20px;
    padding: 10px 0px;
    box-sizing: border-box;
    min-height: 150px;
    border-bottom: 2px solid #EDEDED;
}

section .post h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 15px;
}

section .post h2 a {
    color: #434a53
}

section .post h2 a:hover {
    color: black;
}

section .post p.tag {
    font-size: 1rem;
    color: #cccccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

section .postContent {
    margin-bottom: 10px;
}