<header>
    <nav>
        <div class='content'>
            <div class='brand'>
                <span>
                    <a href='/'>We Know JS</a>
                </span>
            </div>

            <div class='right_nav'>
                <ul>
                    <li>
                        <a href='/posts/'>Posts</a>
                    </li>
                    <li>
                        <a href='#'>Abuout Team</a>
                    </li>
                    <li>
                        <a href='/auth/'>로그인</a>
                    </li>
                    <li>
                        <a href='/auth/register'>회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>