<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeKnowJS</title>
</head>

<body>

    <form action="/posts/file" method="post" enctype="multipart/form-data">
        <input type="file" value="파일" name='photo' multiple="multiple" accept="image/x-png,image/gif,image/jpeg" />
        <input type="submit" value="전송" />
    </form>
</body>

</html>