<!DOCTYPE html>
<html lang="ko">

<head>
  <title>Title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include ../partials/essentialCss.ejs %>
  <link rel='stylesheet' href='/css/index.css'/>
  
</head>

<body>
  <% include ../partials/header.ejs %>

  <article>
    <section>
     
      Vel quod molestias id nam ea nihil nemo asperiores dolorum! Saepe minus assumenda rem dolores consequatur voluptatibus
      voluptatum nemo. Earum sapiente fuga impedit veniam iusto corporis asperiores a nihil, odio magni recusandae. Blanditiis
      nihil, similique omnis incidunt perspiciatis consectetur commodi. Quos qui cupiditate exercitationem assumenda illo
      quas. Eaque optio, tempore vero deserunt praesentium sed enim magni. Perferendis fuga, deserunt non inventore error
      cupiditate, hic omnis totam natus molestias atque facilis. Vitae tempora cupiditate sequi repellat voluptatem, ducimus
      molestiae corporis eum neque. Sapiente, laborum? Animi enim deserunt officiis architecto nisi magni cum doloribus eum,
      porro quos expedita, voluptas quisquam ex consequuntur? Excepturi beatae nesciunt eum illo obcaecati asperiores maxime
      porro facilis. Dignissimos, alias hic. Neque distinctio provident nobis expedita optio tempora laboriosam? Doloremque
      iusto illum dolorum reiciendis aperiam voluptatem, fuga repellendus. Ad fuga inventore explicabo est veniam eligendi
      velit, quam debitis eius, maiores praesentium qui error pariatur neque facilis consequatur quisquam doloremque itaque
      ullam sint libero. Molestias eligendi fuga a non.
    </section>
  </article>




  <% include ../partials/footer.ejs %>

</body>

</html>