<!DOCTYPE html>
<html lang="en">

<head>
    <title>WeKnowJS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../partials/noauth/essentialCss.ejs %>
        <link rel='stylesheet' href='/css/postsRead.css' />
        <% include ../partials/editorViewer.ejs %>
            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            <link rel='stylesheet' href='/css/noauth/header.css' />

</head>

<body>
    <% include ../partials/noauth/header.ejs %>


        <article>
            <section class='readArea'>
                <div class='intro'>
                    <h1>
                        <%= post.title %>
                    </h1>
                    <dl class=postInfo>
                        <dt>
                            <dd>
                                <%= post.created_at %>
                            </dd>
                        </dt>
                        <dt>
                            <dd>
                                <%= post.count %>
                            </dd>
                        </dt>
                    </dl>


                </div>

                <div id="content"></div>

                <div id='hm'>

                </div>

            </section>
        </article>


        <% include ../partials/footer.ejs %>

            <script>
                var content = `<%= post.content %>`
                console.log(content);
                content = content.replace(/ㅥ/g, '\`').replace(/&gt;/g, '>').replace(/&#39;/g, '\'').replace(/&lt;/g, '<').replace(/&#34;/g, '\"')

                //content = content.replace(/,/gi, '\n').replace(/'&gt;/gi, '>').replace(/&#39;/gi, '\'').replace(/&lt;/gi, '\'').split('\n').map(item => item.substr(1, item.length - 2)).join('\n')
                console.log(content);
                var editor = new tui.Editor({
                    el: document.querySelector('#content'),
                    initialValue: content,
                    exts: ['table', 'uml']
                });

            </script>
</body>

</html>